<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/In_class_exercise/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/07/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [4]:
# write your answer here

input_str = "Discovery park"
print(len(input_str))

14

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [8]:
# write your answer here

import operator

input_str = "google.com"

dict_count = {}
for i in set(input_str):
    dict_count[i] = input_str.count(i)
    
dict_count = dict(sorted(dict_count.items(), key=operator.itemgetter(1),reverse=True))
print(dict_count)

{'o': 3, 'g': 2, '.': 1, 'c': 1, 'l': 1, 'e': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [12]:
# write your answer here

list_elements = [11, 12, 13, 14, 15]

elements_sum = 0

for num in list_elements:
    elements_sum += num

print(elements_sum)

65

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [14]:
# write your answer here

sample_string = "restart"

# the below replaces all the occurences of a string except the first char itself...
result = "".join((sample_string[0], sample_string[1:].replace(sample_string[0], "*")))
print(result)

resta*t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [15]:
# write your answer here
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))

S = 3.14 * (1 + (a/b)) ** 3
print("The value of S is: {}".format(S))

Enter the value of a: 4
Enter the value of b: 5
The value of S is: 18.312480000000004

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [16]:
# write your answer here

dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50, 6:60}

result = {}

for dic in [dic1, dic2, dic3]:
    result.update(dic)
    
print(result)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [19]:
# write your answer here

sample_tuple = ("university", "North Texas")

element = input("Enter an element to search: ")

if element in sample_tuple:
    print("True")
else:
    print("False")

Enter an element to search: university
True

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [20]:
# write your answer here

sample_set = {12, 15, 6, 8, 16, 18}

# uisng max(), min() built-in functions...
print("Maximum value is: {}".format(max(sample_set)))
print("Minimum value is: {}".format(min(sample_set)))

Maximum value is: 18
Minimum value is: 6

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [34]:
# write your answer here

import numpy as np, random
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

# we create a group list that sum upto 30
len_list = [5, 6, 4, 6, 5, 4]
random.shuffle(len_list)
result_group = []

for i in len_list:
    
    # generating a sample of length in len_group  
    random_group = random.sample(studnet_list, i) 
    studnet_list = list(set(studnet_list) ^ set(random_group))
    result_group = result_group + [random_group]
    
# random 6 groups are as follows
for each_row in result_group:
    print(each_row, end= '\n')

['av0659', 'sb1357', 'sk1313', 'fh0141', 'ms1500']
['sg1297', 'gn0108', 'vb0218', 'hy0232', 'sm1907', 'dr0609']
['sa1198', 'sk1390', 'sc1229', 'sm1640', 'sk1386']
['bg0320', 'aos0040', 'nm0618', 'jl1252']
['ds0814', 'ak0934', 'nv0234', 'kg0569', 'kg0470', 'pr0353']
['vm0377', 'ak0956', 'ja0964', 'sk1458']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [38]:
# write your answer here

import numpy as np

sample_array = np.array([3, 8, 4, 5, 6, 8, 4, 6, 7, 1, 2])
flag = 0

for num in set(sample_array):
    if np.count_nonzero(sample_array == num) > 1:
        flag = 1
        print(num, end = ' ')

if flag == 0:
    # The result is -1 if there are no duplicate elements in the array
    print("-1")

4 6 8

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [40]:
# write your answer here

import pandas as pd

def sundays(year):
    
  # freq: we specify the frequency as sunday, and strftime which is format of date output.
  return pd.date_range(start=str(year), end=str(year+1), freq='W-SUN').strftime('%d-%B-%Y').tolist()

year = int(input("Enter a year..."))
sundays(year)

Enter a year...1998

['04-January-1998',
 '11-January-1998',
 '18-January-1998',
 '25-January-1998',
 '01-February-1998',
 '08-February-1998',
 '15-February-1998',
 '22-February-1998',
 '01-March-1998',
 '08-March-1998',
 '15-March-1998',
 '22-March-1998',
 '29-March-1998',
 '05-April-1998',
 '12-April-1998',
 '19-April-1998',
 '26-April-1998',
 '03-May-1998',
 '10-May-1998',
 '17-May-1998',
 '24-May-1998',
 '31-May-1998',
 '07-June-1998',
 '14-June-1998',
 '21-June-1998',
 '28-June-1998',
 '05-July-1998',
 '12-July-1998',
 '19-July-1998',
 '26-July-1998',
 '02-August-1998',
 '09-August-1998',
 '16-August-1998',
 '23-August-1998',
 '30-August-1998',
 '06-September-1998',
 '13-September-1998',
 '20-September-1998',
 '27-September-1998',
 '04-October-1998',
 '11-October-1998',
 '18-October-1998',
 '25-October-1998',
 '01-November-1998',
 '08-November-1998',
 '15-November-1998',
 '22-November-1998',
 '29-November-1998',
 '06-December-1998',
 '13-December-1998',
 '20-December-1998',
 '27-December-1998']