<a href="https://colab.research.google.com/github/unt-iialab/INFO5731_Spring2020/blob/master/Assignments/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [11]:
# Your code here
from random import randint

rand_list = [];
for rand_count in range(12):
    rand_list.append(randint(1,100))
    
# Sorting the list of numbers in ascending order
rand_list.sort();    

# Sorting the list of numbers in descending order
rand_list.sort(reverse=True)
print(rand_list)

# Calculating the average for the group
sum = 0
for rand_num in rand_list:
    sum+= rand_num

avg = sum / len(rand_list)

print(avg)

[94, 86, 67, 65, 65, 56, 37, 37, 28, 14, 13, 4]
47.166666666666664

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [26]:
# Your code here

print("Enter the first sentence:")
sentence1 = input()

print("Enter the second sentence:")
sentence2 = input()

sentence_list1 = sentence1.split(" ")
sentence_list2 = sentence2.split(" ")

print("----------------------------------------------------------------------")

print("First sentence list :" ,sentence_list1)
print("Second sentence list :" ,sentence_list2)

print("----------------------------------------------------------------------")

common_words = []
for i in range(len(sentence_list1)):
    for j in range(len(sentence_list2)):
        if (sentence_list1[i] == sentence_list2[j]):
            common_words.append(sentence_list1[i])

print("Words that occur in both sentences : ",common_words)

print("----------------------------------------------------------------------")

sentence1=sentence1.replace(".","")
sentence2=sentence2.replace(".","")

sentence1=sentence1.replace(",","")
sentence2=sentence2.replace(",","")

sentence1=sentence1.replace(";","")
sentence2=sentence2.replace(";","")

sentence1=sentence1.replace(":","")
sentence2=sentence2.replace(":","")


print("Punctuation remove from sentence1 : " , sentence1)
print("Punctuation remove from sentence2 : " , sentence2)

print("----------------------------------------------------------------------")

vowel_count1 = {}.fromkeys('aeiouAEIOU',0)
vowel_count2 = {}.fromkeys('aeiouAEIOU',0)


for c in sentence1:
    if c in vowel_count1:
        vowel_count1[c]+=1

for c in sentence2:
    if c in vowel_count2:
        vowel_count2[c]+=1

print("Vowel Count for sentences (vowels : aeiouAEIOU)")
print("Vowel count for sentence1:",vowel_count1)
print("Vowel count for sentence2:",vowel_count2)

Enter the first sentence:
Enter the second sentence:
----------------------------------------------------------------------
First sentence list : ['Am', 'I', 'Alive???']
Second sentence list : ['Am', 'I', 'rod']
----------------------------------------------------------------------
Words that occur in both sentences :  ['Am', 'I']
----------------------------------------------------------------------
Punctuation remove from sentence1 :  Am I Alive???
Punctuation remove from sentence2 :  Am I rod
----------------------------------------------------------------------
Vowel Count for sentences (vowels : aeiouAEIOU)
Vowel count for sentence1: {'a': 0, 'e': 1, 'i': 1, 'o': 0, 'u': 0, 'A': 2, 'E': 0, 'I': 1, 'O': 0, 'U': 0}
Vowel count for sentence2: {'a': 0, 'e': 0, 'i': 0, 'o': 1, 'u': 0, 'A': 1, 'E': 0, 'I': 1, 'O': 0, 'U': 0}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [31]:
# Your code here

import math

for r in range(1,10):
    v = (4/3) * (math.pi) * math.pow(r,3)
    print("Volume of a sphere with radius r =",r," is ",v)

Volume of a sphere with radius r = 1  is  4.1887902047863905
Volume of a sphere with radius r = 2  is  33.510321638291124
Volume of a sphere with radius r = 3  is  113.09733552923254
Volume of a sphere with radius r = 4  is  268.082573106329
Volume of a sphere with radius r = 5  is  523.5987755982989
Volume of a sphere with radius r = 6  is  904.7786842338603
Volume of a sphere with radius r = 7  is  1436.7550402417319
Volume of a sphere with radius r = 8  is  2144.660584850632
Volume of a sphere with radius r = 9  is  3053.6280592892786

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) included with this assignment. The file [Assignment1_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5731-spring2022/main/assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [18]:
# Your code here


import pandas as pd
import numpy as np
import math

In [2]:
df = pd.read_csv("Assignment1_denton_housing.csv")

df.head()

   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215

In [21]:
occupied_housing_units = df[df['title_field'] == 'Occupied Housing Units'] 
print(occupied_housing_units)

consecutive_years_diff = []

value = occupied_housing_units['value'].tolist()

print(value)
print(len(value))
for i in range(0,len(value)-1):
    diff_value = value[i+1]-value[i]
    # storing absolute values to store the different
    consecutive_years_diff.append(abs(diff_value))

consecutive_years_diff.sort()
consecutive_years_diff

    year             title_field  value
2   2014  Occupied Housing Units  46295
5   2013  Occupied Housing Units  43673
8   2012  Occupied Housing Units  42108
11  2011  Occupied Housing Units  40704
14  2010  Occupied Housing Units  41007
17  2009  Occupied Housing Units  35916
20  2008  Occupied Housing Units  36711
[46295, 43673, 42108, 40704, 41007, 35916, 36711]
7

[303, 795, 1404, 1565, 2622, 5091]

In [57]:
total_housing_units = df[df['title_field'] == 'Total Housing Units']
vacant_housing_units = df[df['title_field'] == 'Vacant Housing Units'] 
occupied_housing_units = df[df['title_field'] == 'Occupied Housing Units']


total_housing_units = total_housing_units.reset_index()
vacant_housing_units = vacant_housing_units.reset_index()
occupied_housing_units = occupied_housing_units.reset_index()

total_housing_units

   index  year          title_field  value
0      0  2014  Total Housing Units  49109
1      3  2013  Total Housing Units  47888
2      6  2012  Total Housing Units  45121
3      9  2011  Total Housing Units  44917
4     12  2010  Total Housing Units  44642
5     15  2009  Total Housing Units  39499
6     18  2008  Total Housing Units  41194

In [65]:


housing_percentage = pd.DataFrame(total_housing_units['year'])

housing_percentage['Vacant Housing Units'] = (vacant_housing_units['value'] / total_housing_units['value'] )*100
housing_percentage['Occupied Housing Units'] = (occupied_housing_units['value'] / total_housing_units['value'] )*100 
housing_percentage

   year  Vacant Housing Units  Occupied Housing Units
0  2014              5.730111               94.269889
1  2013              8.801788               91.198212
2  2012              6.677600               93.322400
3  2011              9.379522               90.620478
4  2010              8.142556               91.857444
5  2009              9.071116               90.928884
6  2008             10.882653               89.117347

In [89]:
Highest_vacant_housing_units = pd.DataFrame()
Highest_vacant_housing_units = vacant_housing_units[vacant_housing_units['value'] == vacant_housing_units['value'].max()]
Highest_vacant_housing_units

   index  year           title_field  value
6     19  2008  Vacant Housing Units   4483

In [90]:
Highest_occupied_housing_units = pd.DataFrame()
Highest_occupied_housing_units = occupied_housing_units[occupied_housing_units['value'] == occupied_housing_units['value'].max()]
Highest_occupied_housing_units

   index  year             title_field  value
0      2  2014  Occupied Housing Units  46295

In [119]:


Highest_housing_units = pd.DataFrame()
Highest_housing_units= Highest_housing_units.append(Highest_vacant_housing_units.iloc[0],ignore_index= True)
Highest_housing_units = Highest_housing_units.append(Highest_occupied_housing_units.iloc[0],ignore_index=True)
Highest_housing_units['year'] = Highest_housing_units['year'].astype('int32')
Highest_housing_units.drop(['index'],axis = 1,inplace=True)
Highest_housing_units

              title_field    value  year
0    Vacant Housing Units   4483.0  2008
1  Occupied Housing Units  46295.0  2014

In [120]:
total_housing_units

   index  year          title_field  value
0      0  2014  Total Housing Units  49109
1      3  2013  Total Housing Units  47888
2      6  2012  Total Housing Units  45121
3      9  2011  Total Housing Units  44917
4     12  2010  Total Housing Units  44642
5     15  2009  Total Housing Units  39499
6     18  2008  Total Housing Units  41194

In [128]:
# Calculate harmonic mean

sum_deno = 0

for value in total_housing_units['value']:
    sum_deno+= 1/value

housing_harmonic_mean = len(total_housing_units['value']) / sum_deno
print(housing_harmonic_mean)

44398.28543969185